<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>MercadoLiebre</title>
</head>

<body>
    <header class="header">
        <div class="divheader">
            <div class="divheaderTop">
                <div class="divheaderLogo">
                    <a href="/"><img class="logo" src="img/logo-mercado-liebre.svg" alt="Logo de Tu Sitio"></a>
                </div>
                <div class="divheaderBuscar">
                    <form action="" class="formbuscar">
                        <input type="text" placeholder="Buscar...">
                        <button class="btn-inline searchlupa" type="submit"><i
                                class="fa-solid fa-magnifying-glass"></i></button>
                    </form>
                </div>
            </div>
            <div class="divComprar">
                <div class="divComprarInfo">
                    <p class="header-texto"><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin
                        tarjeta de crédito</p>
                </div>
            </div>
        </div>

        <div class="nav-menu desktop-tablet">
            <ul>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>

            <ul>
                <li><a href="#">Creá tu cuenta</a><i class="fa-solid fa-id-card"></i></li>
                <li><a href="#">Ingresá</a> <i class="fa-solid fa-arrow-right-to-bracket"></i></li>
                <li><a href="#">Mis compras</a><i class="fa-solid fa-basket-shopping"></i></li>
            </ul>
        </div>
        <div class="divBurger-menu">
            <div class="burger-menu mobile">
                <i class="fas fa-bars"></i>
            </div>
        </div>

    </header>


    <main>
        <img class="imgBanner" src="img/img-home-banner.jpg" alt="">
        <div class="divMain">
            <section class="seccionProductos">

                <h2 class="titulares">Basado en tu ulitmia visita</h2>
                <article class="divproducto">
                    
                        <div>
                            <img class="img-product" src="img/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">
                        </div>
                        <div class="product-detail">
                            <i class="fa-solid fa-truck product-delivery-icon verde"></i>
                            <div class="divPrecio">
                                <p class="precio">$6.770</p>
                                <p class="discount verde">40% OFF</p>
                            </div>
                            <p class="descripciones">Cafetera Moulinex</p>
                        </div>
                    
                </article>
                <article class="divproducto">
                    
                        <div>
                            <img class="img-product" src="img/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019">
                        </div>
                        <div class="product-detail">
                            <i class="fa-solid fa-truck product-delivery-icon verde"></i>
                            <div class="divPrecio">
                                <p class="precio">$230.000</p>
                                <p class="discount verde">20% OFF</p>
                            </div>
                            <p class="descripciones">MacBook Pro 2019</p>
                        </div>
                   
                </article>
                <article class="divproducto">
                    
                        <div>
                            <img class="img-product" src="img/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10">
                        </div>
                        <div class="product-detail">
                            <i class="fa-solid fa-truck product-delivery-icon verde"></i>
                            <div class="divPrecio">
                                <p class="precio">$70.500</p>
                                <p class="discount verde">10% OFF</p>
                            </div>
                            <p class="descripciones">Samsung Galaxy S10</p>
                        </div>
                    
                </article>
                <article class="divproducto">
                    
                        <div>
                            <img class="img-product" src="img/img-tv-samsung-smart.jpg" alt="SmartTv Samsung 43&quot;">
                        </div>
                        <div class="product-detail">
                            <i class="fa-solid fa-truck product-delivery-icon verde"></i>
                            <div class="divPrecio">
                                <p class="precio">$23.200</p>
                                <p class="discount verde">5% OFF</p>
                            </div>
                            <p class="descripciones">SmartTv Samsung 43"</p>
                        </div>
                    
                </article>
            </section>

            <section class="seccionProductos">

                <h2 class="titulares">Ofertas</h2>

                <article class="divproducto">
                    <div>
                        <img class="img-product" src="img/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">
                    </div>
                    <div class="product-detail">
                        <i class="fa-solid fa-truck product-delivery-icon verde"></i>
                        <div class="divPrecio">
                            <p class="precio">$6.770</p>
                            <p class="discount verde">40% OFF</p>
                        </div>
                        <p class="descripciones">Cafetera Moulinex</p>
                    </div>
                </article>

                <article class="divproducto">
                    <div>
                        <img class="img-product" src="img/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019">
                    </div>
                    <div class="product-detail">
                        <i class="fa-solid fa-truck product-delivery-icon verde"></i>
                        <div class="divPrecio">
                            <p class="precio">$230.000</p>
                            <p class="discount verde">20% OFF</p>
                        </div>
                        <p class="descripciones">MacBook Pro 2019</p>
                    </div>
                </article>

                <article class="divproducto">
                    <div>
                        <img class="img-product" src="img/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10">
                    </div>
                    <div class="product-detail">
                        <i class="fa-solid fa-truck product-delivery-icon verde"></i>
                        <div class="divPrecio">
                            <p class="precio">$70.500</p>
                            <p class="discount verde">10% OFF</p>
                        </div>
                        <p class="descripciones">Samsung Galaxy S10</p>
                    </div>
                </article>

                <article class="divproducto">
                    <div>
                        <img class="img-product" src="img/img-tv-samsung-smart.jpg" alt="SmartTv Samsung 43&quot;">
                    </div>
                    <div class="product-detail">
                        <i class="fa-solid fa-truck product-delivery-icon verde"></i>
                        <div class="divPrecio">
                            <p class="precio">$23.200</p>
                            <p class="discount verde">5% OFF</p>
                        </div>
                        <p class="descripciones">SmartTv Samsung 43"</p>
                    </div>
                </article>
            </section>
        </div>
    </main>


    <!-- Footer (Pie de Página) -->
    <footer>
        <div class="">
            <i class="fa-solid fa-credit-card"></i>
        </div>

        <h3>Pagá con tarjeta o en efectivo</h3>
        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y
            siempre es seguro!</p>



        <i class="fa-solid fa-gift"></i>

        <h3>Envío gratis desde $ 2.500</h3>
        <p>Solo por estar registrado en Mercado Liebre tenés envíos gratis en miles de productos. Es un
            beneficio de Mercado Puntos.</p>

        <i class="fa-solid fa-user-shield"></i>

        <h3>Seguridad, de principio a fin</h3>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre
            protegido.</p>



        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>

    </footer>

</body>

</html>